@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

:root{
    --bg-color:#1f242d;
    --second-bg-color:#323946;
    --text-color:#fff;
    --main-color:#0ef;
}

html{
    font-size:62.5;
    overflow-x:hidden;
}

body{
    background:var(--bg-color);
    color:var(--text-color);
}

section{
    min-height: 100vh;
    padding: 10rem 9% 2rem;

}

.header{
    position:fixed;
    top: 0;
    left:0;
    width:100%;
    padding:2rem 9%;
    background:var(--bg-color);
    display:flex;
    justify-content: space-between;
    align-items: center;
    z-index:100;

}

.header.sticky{
    border-bottom:.1rem solid rgba(0,0,0,.2);
}
.logo{
    font-size:2.5rem;
    color:var(--text-color);
    font-weight:601;
    cursor: default;
}

.navbar a{
    font-size:1.7rem;
    color:var(--text-color);
    margin-left: 4rem;


}

.navbar a:hover,
.navbar a.active{
    color:var(--main-color);

}

#menu-icon{
    font-size:3.6rem;
    color:var(--text-color);
    display:none;
}

.home-img{
    position: relative; /* Add this to make the div a positioning context for the image */
    display: flex;
    justify-content:right;
    align-items:top;
    margin-top: 2rem; /* You can adjust the margin as needed */
    height: 50vh; /* Set a fixed height for the "home-img" div */
}

.home-img img{
    width:25vw;
    height:auto;
    border-radius: 35%;
    padding-bottom: 6%;
    animation:floatImage 4s ease-in-out infinite;
    
}

@keyframes floatImage {
    0%{
        transform:translateY(0);
    }
    50%{
        transform:translateY(-2.4rem);
    }
    100%{
        transform:translateY(0);
    }
    
}


.home-content h3{
    font-size: 2.9rem;
    font-weight: 700;
    padding-right: 15%;

    
}

home-content h3:nth-of-type(2){
    margin-bottom: 2rem;
}

span{
    color:var(--main-color);

}

.home-content h1{
    font-size: 5.6rem;
    font-weight:700;
    line-height:1.3;
}

.home-content p{
    font-size:1.6rem;
}

.social-media a{
    display:inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border:.2rem solid var(--main-color);
    border-radius: 50%;
    font-size:2rem;
    color:var(--main-color);
    margin:3rem 1.5rem 3rem 0;
    transition:.5s ease;
}

.social-media a:hover{
    background: var(--main-color);
    color: var(--second-bg-color);
    box-shadow: 0 0 1rem var(--main-color);
}

.btn{
    display:inline-block;
    padding:1rem 2.8rem;
    background:var(--main-color);
    border-radius:4rem;
    box-shadow:0 0 1rem var(--main-color);
    font-size:1.6rem;
    color:var(--second-bg-color);
    letter-spacing:.1rem;
    font-weight:600;
    transition:.5s ease;

}

.btn:hover{
    box-shadow:none;
}

.about{
    display:flex;
    justify-content:center;
    align-items:center;
    gap:2rem;
    background: var(--second-bg-color);
}

.about-img img{
    width:35vw;
    height: 450px;
    border-radius: 25%;

}
.heading{
    text-align:center;
    font-size:4.5rem;
}

.about-content h2{
    text-align:left;
    line-height:1.2;
}
.about-content h3{
    font-size:2.6rem;

}
.about-content p{
    font-size: 1.6rem;
    margin:2rem 0 3rem;
}

.services h2{
    margin-bottom:5rem;
}

.services-container{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-wrap:wrap;
    gap:1.5rem;
}

.services-container .services-box{
    flex: 1 1 20rem; /* Reduce the width from 24rem to 20rem */
    background: var(--second-bg-color);
    padding: 3rem 2rem 4rem;
    border-radius: 2rem;
    text-align: center;
    border: 0.2rem solid var(--bg-color);
    transition: 0.5s ease;
}

.services-container .services-box:hover {
    border-color:var(--main-color);
    transform:scale(1.02);

}

.services-box i{
    font-size:7rem;
    color:var(--main-color);
}

.services-box h3{
    font-size:2.4rem;

}

.services-box p{
    font-size:1.4rem;
    margin:1rem 0 3rem;
    align-items: center;
}

/* Adjust the size of service icons */
.services-box i {
    font-size: 6rem; /* Adjust the icon size as needed */
}

/* Adjust the size of the service boxes on smaller screens */
@media (max-width: 768px) {
    .services-container .services-box {
      flex: 1 1 40%; /* Adjust the width for smaller screens */
    }
}
  
.portfolio{
    background:var(--second-bg-color);
}

.portfolio h2{
    margin-bottom: 4rem;
}

.portfolio.container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    align-items: center;
    gap: 2.1rem;
    padding: 20px;
    position:relative;
}

.portfolio-container .portfolio-box{
    position: relative;
    border-radius: 2rem;
    box-shadow: 0 0 1rem var(--bg-color);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.portfolio-box {
    position: relative;
    border-radius: 2rem;
    box-shadow: 0 0 1rem var(--bg-color);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.portfolio-box img{
    width:100%;
    transition:0.5s ease;
}

.portfolio-box:hover img{
    transform:scale(1.1);
}

 .portfolio-layer{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8); /* Add a semi-transparent background */
    padding: 1rem;
    color: #fff; /* Text color */
    opacity: 0; /* Hide the text by default */
    visibility: hidden;
    transition: opacity 0.3s ease; /* Smooth transition for opacity */
    z-index: 1; /* Add z-index to ensure the text appears above the image */


}
.portfolio-box:hover .portfolio-layer{
    opacity: 1;
    visibility: visible;
}

.portfolio-layer h4{
    font-size:2.6rem;

}

.portfolio-layer p{
    font-size:1.6rem;
    margin:0.3rem 0 1rem;
}

.portfolio-layer a{
    display:inline-flex;
    justify-content:center;
    align-items:center;
    width:5rem;
    height:5rem;
    background: var(--text-color);
    border-radius:50%;
}

.portfolio-layer a i{
    font-size:2rem;
    color:var(--second-bg-color);
}

/* Add a separate layer for the image to hide it initially */
.portfolio-image-layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    opacity: 1; /* Fully opaque initially */
    visibility: visible;
    z-index: 2; /* Ensure this layer is above the text layer */
    transition: opacity 0.3s ease;
}

/* Hide the image on hover by making the image layer transparent */
.portfolio-box:hover .portfolio-image-layer {
    opacity: 0;
    visibility: hidden;
}

.contact h2{
    margin-bottom:3rem;

}

.contact form{
    max-width:70rem;
    margin:1rem auto;
    text-align:center;
    margin-bottom:3rem;

}

.contact form .input-box{
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact form .input-box input,
.contact form textarea{
    width:100%;
    padding:1.5rem;
    font-size:1.6rem;
    color:var(--text-color);
    background:var(--second-bg-color);
    border-radius:.8rem;
    margin:.7rem 0;
}

.contact form .input-box input{
    width:49%;
}

.contact form textarea{
    resize:none;

}

.contact form .btn{
    margin-top:2rem;
    cursor:pointer;
}

.footer{
    display:flex;
    justify-content: space-between;
    align-items:center;
    flex-wrap:wrap;
    padding:2rem 9%;
    background:var(--second-bg-color);
}

.footer-text p{
    font-size:1.6rem;

}
.footer-iconTop a {
    display:inline-flex;
    justify-content: center;
    align-items: center;
    padding:.8rem;
    background:var(--main-color);
    border-radius:.8rem;
    transition:.5s ease;
}

.footer-iconTop a:hover{
    box-shadow:0 0 1rem var(--main-color) ;
}

.footer-iconTop a i
{
    font-size:2.4rem;
    color:var(--second-bg-color);
}

/*BREAKPOINTS*/

@media(max-width:1200px){
    html{
        font-size:100%;
    }
}

@media(max-width:991px){
    .header{
        padding:2rem 3%;
    }

    section{
        padding:10rem 3% 2rem;
    }

    .services{
        padding-bottom: 7rem;
    }
    .portfolio{
        padding-bottom: 7rem;
    }

    .contact{
        min-height:auto;
    }
    .footer{
        padding:2rem 3%;
    }
}

@media (max-width:768px){
    #menu-icon{
        display:block;
    }

    .navbar{
        position:absolute;
        top:100%;
        left:0;
        width:100%;
        padding:1rem 3%;
        background:var(--bg-color);
        border-top:.1rem solid rgba(0,0,0,.2);
        box-shadow:0,.5rem 1rem rgba(0,0,0,.2);
        display:none;
    }

    .navbar.active{
        display:block;
    }

    .navbar a{
        display:block;
        font-size:2rem;
        margin:3rem 0;
    }

    .home{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    .home-content{
        flex: 1 1 50%; /* Adjust the percentage value as needed */
        text-align: center;
    }
    .home-content h3{
        font-size:2.6rem;
    }

    .home-content h1{
        font-size:5rem;
    }

    .home-img {
        flex: 1 1 50%; /* Adjust the percentage value as needed */
        position: relative; /* Add this to make the div a positioning context for the image */
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 2rem; /* You can adjust the margin as needed */
        height: 50vh; /* Set a fixed height for the "home-img" div */
      }
      
    .home-img img{
        width: 25vw;
        height: auto;
        border-radius: 35%;
        padding-bottom: 6%;
        animation: floatImage 4s ease-in-out infinite;

    }

    h1, h2, h3, h4 {
        font-weight: 600;
    }
    
    .about{
        flex-direction: column-reverse;

    }
    .about img{
        width: 70vw;
        margin-top:4rem;
    }

    .services h2{
        margin-bottom:3rem;
    }

}

/* Adjust the size of the portfolio boxes for the 2x3 grid */
@media (min-width:768px) {
    .portfolio.container {
        display: grid;
        gap: 2rem;
    }

    .portfolio-row {
        display: grid;
        grid-template-columns: repeat(3, 1fr); /* Three columns per row */
        gap:2rem;
    }

    .portfolio-box {
        max-width: 100%; /* Allow each box to take the full width of its container */
        position: relative;
        overflow: hidden; /* Hide overflowing text */
    }
}

/* Adjust the size of the portfolio boxes for smaller screens */
@media (max-width: 768px) {
    .portfolio.container {
        display: grid;
        gap: 2rem;
    }
    .portfolio-row {
        display: grid;
        grid-template-columns: repeat(2, 1fr); /* Two columns per row */
        gap:2rem;
    }

    .portfolio-box {
        max-width: calc(50% - 2rem); /* Adjust the width for the 2 boxes per row */
        position: relative;
        overflow: hidden; /* Hide overflowing text */
    }
}
@media(max-width:768px)
{
    html{
        font-size: 50%;
    }
    .contact form .input-box input{
        width:100%;
    }
}

@media(max-width:365px){
    .home-img img{
        width:90vw;
    }

    .about-img img{
        width:90vw;
    }

    .footer{
        flex-direction:column-reverse;
    }

    .footer p{
        text-align:center;
        margin-top:2rem;
    }
}